<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InovaHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/aspnet2.styles.css" asp-append-version="true" />

    <!-- Link do Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="bg-dark text-light">
    <header>
        <nav id="navLayout" class="gradiente-dark navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
            <div class="container-fluid">
                <a style="margin-left: 2rem" class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"> <img src="../img/logo.png" alt="Logo" width="70rem"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   <!-- Barra de pesquisa -->
                    <div class="input-group w-25 m-auto">
                        <input type="search" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar">
                        <button class="btn btn-primary" type="button">
                            <!-- Ícone de pesquisa -->
                            <i class="fas fa-search"></i> 
                        </button>
                    </div>
                    <!-- ícone do Color Theme Mode -->
                    <i id="colorModeIcon" class="fa fa-sun me-5 fs-5" style="cursor: pointer;"></i>

                    <!-- Ícone de Usuário -->
                    <a data-bs-toggle="modal" data-bs-target="#loginModal">
                        <i style="margin-right: 2rem; cursor: pointer; font-size: 1.5rem;" class="fa-regular fa-user"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main> 
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - InovaHub - <a asp-area="" asp-controller="Home" asp-action="Contacts">Contatos</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        // Script para alterar o Color Mode da página
        document.getElementById('colorModeIcon').addEventListener('click', function() {
        document.body.classList.toggle('bg-dark');
        document.body.classList.toggle('bg-light');

        document.body.classList.toggle('text-light');
        document.body.classList.toggle('text-dark');

        // Variável para pegar o componente nav para mudar o estilo
        var navLayoutCss = document.getElementById('navLayout')

        if (document.body.classList.contains('bg-dark')) {
            this.classList.remove('fa-moon');
            this.classList.add('fa-sun');
            
            navLayoutCss.classList.remove('gradiente-light');
            navLayoutCss.classList.add('gradiente-dark');
        }
        else {
            this.classList.remove('fa-sun');
            this.classList.add('fa-moon');
            
            navLayoutCss.classList.remove('gradiente-dark');
            navLayoutCss.classList.add('gradiente-light');
        }
        });
    </script>
    <script>
    // Controle dos modais usando JavaScript
    document.getElementById('forgotPasswordLink').addEventListener('click', function() {
        // Fecha o modal de login
        bootstrap.Modal.getInstance(document.getElementById('loginModal')).hide();
        // Abre o modal de recuperação de senha
        var forgotPasswordModal = new bootstrap.Modal(document.getElementById('forgotPasswordModal'));
        forgotPasswordModal.show();
    });

    document.getElementById('backToLogin').addEventListener('click', function() {
        // Fecha o modal de recuperação de senha
        bootstrap.Modal.getInstance(document.getElementById('forgotPasswordModal')).hide();
        // Abre o modal de login
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
        loginModal.show();
    });
    </script>
</body>
</html>
