
@{
    ViewData["Title"] = "Cadastro";
}

<div class="container justify-content-center">
    <h1 class="fs-1 mb-3 mt-5 text-center">Cadastra-se</h1>
    <form class="w-50 m-auto border border-secondary-subtle p-3 rounded shadow-sm" method="post" action="Cadastrar">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" name="nome">Nome</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" name="email">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com"> 
        <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
        </div>
        <div class="mb-3 w-50">
            <label for="exampleInputPassword1" class="form-label" name="senha">Senha</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3 w-50">
            <label for="exampleInputPassword1" class="form-label">Confirmar Senha</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>
        <div class="text-center">
            <button type="submit" id="submitBtn" class="btn btn-primary w-25 m-auto mb-5 mt-5 disabled">Cadastrar</button>
        </div>
    </form>

    

    
</div>


<!-- PopUp Login -->
<div class="modal fade text-dark" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-3" id="loginModalLabel">Entrar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form class="w-75 m-auto">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com"> 
        <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Manter este dispositivo conectado.</label>
            </div>
            <div>
                <a style="cursor: pointer;" id="forgotPasswordLink" class="text-primary">Esqueceu a senha?</a>
                <p>Ainda não possui conta?<a asp-area="" asp-controller="Home" asp-action="Cadastro"> Cadastra-se!</a></p>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Entrar</button>
        </form>
    </div>
    </div>
</div>
</div>

<!-- PopUp Recuperar Senha -->
<div class="modal fade text-dark" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <i id="backToLogin" data-bs-toggle="modal" data-bs-target="#forgotPassowordModal" type="button" class="fa-solid fa-arrow-left fs-3"></i>
        <h1 class="modal-title fs-3 ms-4" id="exampleModalLabel">Esqueci a Senha</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form class="w-75 m-auto">
            <div class="mb-3">
                <p class="my-3">Enviaremos um link para o seu e-mail para alteração da senha.</p>
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com">  
        <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
            </div>
            <div>
                <p>Ainda não possui conta?<a asp-area="" asp-controller="Home" asp-action="Cadastro"> Cadastra-se!</a></p>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Entrar</button>
        </form>
    </div>
    </div>
</div>
</div>

<footer>
    <style>
        /* Estilo opcional para o exemplo */
        input[type="password"] {
            margin-bottom: 10px;
        }
    </style>

    <script>
        // Captura os elementos de senha e botão de envio
        var passwordField = document.getElementById("password");
        var confirmPasswordField = document.getElementById("confirmPassword");
        var submitButton = document.getElementById("submitBtn");

        // Adiciona um ouvinte de evento de entrada para ambos os campos de senha
        passwordField.addEventListener("input", validatePassword);
        confirmPasswordField.addEventListener("input", validatePassword);

        // Função para validar as senhas
        function validatePassword() {
            var password = passwordField.value;
            var confirmPassword = confirmPasswordField.value;

            // Ativa o botão de envio se as senhas coincidirem e não forem vazias
            if (password !== "" && confirmPassword !== "" && password === confirmPassword) {
                submitButton.classList.remove("disabled");
            } else {
                submitButton.classList.add("disabled");
            }
        }
</script>

</footer>