
@{
    ViewData["Title"] = "Cadastro";
}

<div class="container justify-content-center">
    <h1 class="fs-1 mb-3 mt-5 text-center">Cadastra-se</h1>
    <form class="w-50 m-auto border border-secondary-subtle p-3 rounded shadow-sm" method="post" action="/Cadastrar">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Nome</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="nome">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com" name="email"> 
        <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
        </div>
        <div class="mb-3 w-50">
            <label for="exampleInputPassword1" class="form-label" >Senha</label>
            <input type="password" class="form-control" id="password" name="senha">
        </div>
        <div class="mb-3 w-50">
            <label for="exampleInputPassword1" class="form-label">Confirmar Senha</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>
        <div class="text-center">
            <button type="submit" id="submitBtn" class="btn btn-primary w-25 m-auto mb-5 mt-5 disabled">Cadastrar</button>
        </div>
    </form> 

    
</div>



<footer>
    <style>
        /* Estilo opcional para o exemplo */
        input[type="password"] {
            margin-bottom: 10px;
        }
    </style>

    <script>
        // Captura os elementos de senha e botão de envio
        var passwordField = document.getElementById("password");
        var confirmPasswordField = document.getElementById("confirmPassword");
        var submitButton = document.getElementById("submitBtn");

        // Adiciona um ouvinte de evento de entrada para ambos os campos de senha
        passwordField.addEventListener("input", validatePassword);
        confirmPasswordField.addEventListener("input", validatePassword);

        // Função para validar as senhas
        function validatePassword() {
            var password = passwordField.value;
            var confirmPassword = confirmPasswordField.value;

            // Ativa o botão de envio se as senhas coincidirem e não forem vazias
            if (password !== "" && confirmPassword !== "" && password === confirmPassword) {
                submitButton.classList.remove("disabled");
            } else {
                submitButton.classList.add("disabled");
            }
        }
</script>

</footer>