@{
    ViewData["Title"] = "Contacts";
}
<h1 class="ms-5">Contatos</h1>

<p class="ms-5">O InovaHub é um projeto desenvolvido por um grupo de 4 integrantes para a feira de ciência e inovação
    da UVV (Universidade de Vila Velha), chamada InovaWeek. Desenvolvido inicialmente no primeiro semestre de 2024
    durante a disciplina de Programação Orientada a Objetos, os integrantes do grupo são: Daniel Augusto, Daniel Henrique
    Breno Sales e Raphael Braian.
</p>

