


@{
    ViewData["Title"] = "Pagina Principal";
}


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-end m-0"> <!-- Coluna das categorias a esquerda -->
                <div class="container-fluid">   
                    <div class="w-100 my-4">
                        <div class="d-flex flex-row"><i class="fa-solid fa-house pe-2 mt-1"></i><p>Página Inicial</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-globe pe-2 mt-1"></i><p>Popular</p></div>
                    </div>
                    <div class="row border-top w-100">
                        <h5 class="my-4">Categorias</h5>
                        <div class="d-flex flex-row"><i class="fa-solid fa-computer pe-2 mt-1"></i><p>Ti</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-shop pe-2 mt-1"></i><p>Marketing</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-paw pe-2 mt-1"></i><p>Biológicas</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-book pe-2 mt-1"></i></i><p>Educação</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-gamepad pe-2 mt-1"></i><p>Games</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-seedling pe-2 mt-1"></i><p>Ambiental</p></div>
                    </div>
                </div>

            </div>

            <div class="col-4 feed text-center w-50 m-auto"> <!-- Coluna do centro "feed" -->
                @foreach (var idea in ViewBag.Ideas) {
                <div class="card my-4 mx-auto text-center">
                    <svg class="bd-placeholder-img card-img-top text-center" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <!-- <title>Placeholder</title> -->
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text  x="44%" y="50%"fill="#eceeef" dy=".3em">Placeholder</text> 
                    </svg>
                    <div class="card-body">
                        <div class="py-3 text-dark">
                            <a href="Idea/@idea.Idea.Id"><h3>@idea.Idea.Title</h3></a>
                        </div>
                        <p class="text-dark">@idea.Idea.Text</p>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
                                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
                            </svg>
                            <p>@idea.Upvotes.Count</p>
                        </a>
                    </div>
                </div>
                }
            </div>

            <div class="col-3 pt-5 text-center "> <!-- Coluna das comunidades a direita -->
                <p>Comunidades</p>
                <div style="height: 400px; background-color: #BFC9CA;" class="p-3 rounded overflow-auto">
                    <p style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ea, nobis atque quaerat enim nostrum totam quae recusandae aperiam minima labore repudiandae animi sed aliquid voluptates repellendus, sequi cupiditate voluptatem.</p>
                    <p style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ad temporibus a perspiciatis incidunt vitae suscipit nam totam repellat. Quod assumenda cupiditate soluta sapiente, dignissimos aperiam! Eum tempora nostrum cumque!</p>
                </div>
            </div>

        </div>
    </div>


    <!-- PopUp Login -->
    <div class="modal fade text-dark" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-3" id="loginModalLabel">Entrar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="w-75 m-auto">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com"> 
            <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Manter este dispositivo conectado.</label>
                </div>
                <div>
                    <a style="cursor: pointer;" id="forgotPasswordLink" class="text-primary">Esqueceu a senha?</a>
                    <p>Ainda não possui conta?<a asp-area="" asp-controller="Home" asp-action="Cadastro"> Cadastra-se!</a></p>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Entrar</button>
            </form>
        </div>
        </div>
    </div>
    </div>

    <!-- PopUp Recuperar Senha -->
    <div class="modal fade text-dark" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <i id="backToLogin" data-bs-toggle="modal" data-bs-target="#forgotPassowordModal" type="button" class="fa-solid fa-arrow-left fs-3"></i>
            <h1 class="modal-title fs-3 ms-4" id="exampleModalLabel">Esqueci a Senha</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="w-75 m-auto">
                <div class="mb-3">
                    <p class="my-3">Enviaremos um link para o seu e-mail para alteração da senha.</p>
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com">  
            <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
                </div>
                <div>
                    <p>Ainda não possui conta?<a asp-area="" asp-controller="Home" asp-action="Cadastro"> Cadastra-se!</a></p>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Entrar</button>
            </form>
        </div>
        </div>
    </div>
    </div>
    
</body>

