

@{
    ViewData["Title"] = "Pagina Principal";
    string Host = "localhost:5030";
}

<body>
    <style>
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-end m-0"> <!-- Coluna das categorias a esquerda -->
                <div class="container-fluid">   
                    <div class="w-100 my-4">
                        <div class="d-flex flex-row"><i class="fa-solid fa-house pe-2 mt-1"></i><p>Página Inicial</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-globe pe-2 mt-1"></i><p>Popular</p></div>
                    </div>
                    <div class="row border-top w-100">
                        <h5 class="my-4">Categorias</h5>
                        <div class="d-flex flex-row"><i class="fa-solid fa-computer pe-2 mt-1"></i><p>Ti</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-shop pe-2 mt-1"></i><p>Marketing</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-paw pe-2 mt-1"></i><p>Biológicas</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-book pe-2 mt-1"></i></i><p>Educação</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-gamepad pe-2 mt-1"></i><p>Games</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-seedling pe-2 mt-1"></i><p>Ambiental</p></div>
                    </div>
                </div>

            </div>

            <div class="col-4 feed text-center w-50 m-auto"> <!-- Coluna do centro "feed" -->
                <div id="feed">
                    
                </div>
                <button onclick="displayFeed()" type="button">click me!</button>
            </div>
            <div class="col-3 pt-5 text-center "> <!-- Coluna das comunidades a direita -->
                <p>Comunidades</p>
                <div style="height: 400px; background-color: #BFC9CA;" class="p-3 rounded overflow-auto">
                    <p style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ea, nobis atque quaerat enim nostrum totam quae recusandae aperiam minima labore repudiandae animi sed aliquid voluptates repellendus, sequi cupiditate voluptatem.</p>
                    <p style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ad temporibus a perspiciatis incidunt vitae suscipit nam totam repellat. Quod assumenda cupiditate soluta sapiente, dignissimos aperiam! Eum tempora nostrum cumque!</p>
                </div>
            </div>

        </div>
    </div>


    <!-- PopUp Login -->
    <div class="modal fade text-dark" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-3" id="loginModalLabel">Entrar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- <form class="w-75 m-auto" method="post" action="/VerificarLogin"> -->
            <!-- redirecionar para pagina do usuário a fim de demostração do nosso site. -->
            <form class="w-75 m-auto" method="get" action="/User/3">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com" name="login"> 
            <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="pass">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Manter este dispositivo conectado.</label>
                </div>
                <div>
                    <a style="cursor: pointer;" id="forgotPasswordLink" class="text-primary">Esqueceu a senha?</a>
                    <p>Ainda não possui conta?<a asp-area="" asp-controller="Home" asp-action="Cadastro"> Cadastra-se!</a></p>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Entrar</button>
            </form>
        </div>
        </div>
    </div>
    </div>

    <!-- PopUp Recuperar Senha -->
    <div class="modal fade text-dark" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <i id="backToLogin" data-bs-toggle="modal" data-bs-target="#forgotPassowordModal" type="button" class="fa-solid fa-arrow-left fs-3"></i>
            <h1 class="modal-title fs-3 ms-4" id="exampleModalLabel">Esqueci a Senha</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="w-75 m-auto">
                <div class="mb-3">
                    <p class="my-3">Enviaremos um link para o seu e-mail para alteração da senha.</p>
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com">  
            <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
                </div>
                <div>
                    <p>Ainda não possui conta?<a asp-area="" asp-controller="Home" asp-action="Cadastro"> Cadastra-se!</a></p>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Entrar</button>
            </form>
        </div>
        </div>
    </div>
    </div>
    <script>

        let feed = document.querySelector('#feed');
        let last = 0;

        async function displayFeed() {
            let response = await fetch("http://@Host/Serve/" + last);
            feed.innerHTML += await response.text();
            last += 3;
        }

        // cada botão de upvote tem um onclick chamando essa função
        async function vote(id) {

            let button = document.querySelector('#idea' + id);

            // contador do card da ideia guarda o numero de upvotes.
            // contador tem um id: counter + id do post
            let counter = document.querySelector('#counter' + id);

            if (button.classList.contains('upvoted')) {

                button.classList.remove('upvoted');
                let response = await fetch(`http://@Host/Downvote/${id}`);

                if (!response.ok)
                    return;

                counter.textContent = Number(counter.textContent) - 1

            } else {

                button.classList.add('upvoted');
                let response = await fetch(`http://@Host/Upvote/${id}`);

                // servidor retorna 401 caso usuario ja tenha feito um upvote 
                if (!response.ok)
                    return;

                counter.textContent = Number(counter.textContent) + 1

            }

        }

    </script>
</body>

