

@{
    ViewData["Title"] = "Pagina Principal";
    string Host = "localhost:5030";
}

<body>
    <style>
    </style>
    <div class="container-fluid">
        <div class="row">
            <!-- usar colunas é uma pessima ideia. favor ler sobre html <aside> -->
            <div class="d-none d-lg-block col-2 border-end m-0"> <!-- Coluna das categorias a esquerda -->
                <div class="container-fluid">   
                    <div class="w-100 my-4">
                        <div class="d-flex flex-row"><i class="fa-solid fa-house pe-2 mt-1"></i><p>Página Inicial</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-globe pe-2 mt-1"></i><p>Popular</p></div>
                    </div>
                    <div class="row border-top w-100">
                        <h5 class="my-4">Categorias</h5>
                        <div class="d-flex flex-row"><i class="fa-solid fa-computer pe-2 mt-1"></i><p>Ti</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-shop pe-2 mt-1"></i><p>Marketing</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-paw pe-2 mt-1"></i><p>Biológicas</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-book pe-2 mt-1"></i></i><p>Educação</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-gamepad pe-2 mt-1"></i><p>Games</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-seedling pe-2 mt-1"></i><p>Ambiental</p></div>
                    </div>
                </div>

            </div>
            <!-- Coluna do centro "feed" -->
            <div class="feed text-center
                col-100 col-lg-4 
                w-0 w-sm-100
                m-0 m-sm-auto"
            >
                <div id="feed">
                    
                </div>
                <button onclick="displayFeed()" type="button">Carregar mais!</button>
            </div>
            <div class="d-none d-lg-block col-3 pt-5 text-center "> <!-- Coluna das comunidades a direita -->
                <p>Comunidades</p>
                <div style="height: 400px; background-color: #BFC9CA;" class="p-3 rounded overflow-auto">
                    <p style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ea, nobis atque quaerat enim nostrum totam quae recusandae aperiam minima labore repudiandae animi sed aliquid voluptates repellendus, sequi cupiditate voluptatem.</p>
                    <p style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ad temporibus a perspiciatis incidunt vitae suscipit nam totam repellat. Quod assumenda cupiditate soluta sapiente, dignissimos aperiam! Eum tempora nostrum cumque!</p>
                </div>
            </div>

        </div>
    </div>

    <script>

        let feed = document.querySelector('#feed');
        let ultimo = 0;

        async function displayFeed() {
            let resposta = await fetch("http://@Host/Feed/" + ultimo);
            feed.innerHTML += await resposta.text();
            ultimo += 3;
        }


        // cada botão de upvote tem um onclick chamando essa função
        async function vote(id) {

            let button = document.querySelector('#idea' + id);

            // contador do card da ideia guarda o numero de upvotes.
            // contador tem um id: counter + id do post
            let counter = document.querySelector('#counter' + id);

            if (button.classList.contains('upvoted')) {

                button.classList.remove('upvoted');
                let resposta = await fetch(`http://@Host/Downvote/${id}`);

                if (!resposta.ok)
                    return;

                counter.textContent = Number(counter.textContent) - 1

            } else {

                button.classList.add('upvoted');
                let resposta = await fetch(`http://@Host/Upvote/${id}`);

                // servidor retorna 401 caso usuario ja tenha feito um upvote 
                if (!resposta.ok)
                    return;

                counter.textContent = Number(counter.textContent) + 1

            }

        }

        (async () => {
            await displayFeed();
            await displayFeed();
        })();

    </script>
</body>

