
@model aspnet2.Models.User;

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-end m-0"> <!-- Coluna das categorias a esquerda -->
                <div class="container-fluid">   
                    <div class="w-100 my-4">
                        <div class="d-flex flex-row"><i class="fa-solid fa-house pe-2 mt-1"></i><p>Página Inicial</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-globe pe-2 mt-1"></i><p>Popular</p></div>
                    </div>
                    <div class="row border-top w-100">
                        <h5 class="my-4">Categorias</h5>
                        <div class="d-flex flex-row"><i class="fa-solid fa-computer pe-2 mt-1"></i><p>Ti</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-shop pe-2 mt-1"></i><p>Marketing</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-paw pe-2 mt-1"></i><p>Biológicas</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-book pe-2 mt-1"></i></i><p>Educação</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-gamepad pe-2 mt-1"></i><p>Games</p></div>
                        <div class="d-flex flex-row"><i class="fa-solid fa-seedling pe-2 mt-1"></i><p>Ambiental</p></div>
                    </div>
                </div>

            </div>

            <div class="col-4 feed text-center w-50 mx-auto"> <!-- Coluna do centro "feed" -->
                <div id="feed">
                    <h1>Minhas Ideias</h1>
                    <a href="/CreateIdea">
                        <button class="btnStyle">
                            <p style="color: white; font-size: 30px; font-weight: bold; margin: auto">
                                +
                            </p>
                        </button>
                    </a>
                     <div id="feed">
                        @foreach (var Idea in Model.Ideas) {
                            @(await Html.PartialAsync("IdeaCard",
                                new IdeaViewModel { Idea = Idea, UserUpvoted = false, deleteIdea = true }));
                        }
                    </div> 

                </div>
                
            </div>
            <div class="col-3 pt-5 text-center "> <!-- Coluna das comunidades a direita -->
                <div class="fotoPerfil border border-3 shadow">
                    <img src="https://avatarfiles.alphacoders.com/172/thumb-1920-172286.jpg" alt="Foto Perfil">
                </div>
                <div class="meusDados mb-5">
                    <div class="d-flex flex-row justify-content-center ms-3"><h3>Meus dados</h1> <a data-bs-toggle="modal" data-bs-target="#dataModal" class="mb-2 ms-2 align-content-center"><i class="fa-solid fa-pencil fa-lg " style="cursor: pointer;" ></i> </a></div>
                    <h5>@ViewBag.Nome</h3>
                    <p>@ViewBag.Email</p>
                </div>
                <p>Comunidades</p>
                <div style="height: 400px; background-color: #BFC9CA;" class="p-3 rounded overflow-auto">
                    <p style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ea, nobis atque quaerat enim nostrum totam quae recusandae aperiam minima labore repudiandae animi sed aliquid voluptates repellendus, sequi cupiditate voluptatem.</p>
                    <p style="color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ad temporibus a perspiciatis incidunt vitae suscipit nam totam repellat. Quod assumenda cupiditate soluta sapiente, dignissimos aperiam! Eum tempora nostrum cumque!</p>
                </div>
            </div>

        </div>
    </div>

    
</body>

<footer>
    <style>
        .fotoPerfil{
            background: grey;
            border-radius: 50%;
            width: 250px;
            height: 250px;
            margin: auto;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-bottom: 50px;
        }

        .fotoPerfil img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .btnStyle{
            background: #FAC700;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin: auto;
            margin-top: 30px;
            align-content: center;
        }

        .btnStyle:hover{
            background: linear-gradient(120deg, #FAC700, #FF8A00 70%);
            transform: scale(1.15);
            transition: 80ms linear;
        }
    </style>
</footer>

<!-- Modal Mudar Dados -->
    <div class="modal fade text-dark" id="dataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-3" id="loginModalLabel">Alterar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- <form class="w-75 m-auto" method="post" action="/VerificarLogin"> -->
            <!-- redirecionar para pagina do usuário a fim de demostração do nosso site. -->
            <form class="w-75 m-auto" method="post" action="EditarUsuario">
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" name="nome">
            <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Ex: meu_endereco@email.com" name="email"> 
            <!-- <div id="emailHelp" class="form-text">Nós nunca iremos compartilhar seu email para ninguém.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" name="senha">
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Salvar</button>
            </form>
        </div>
        </div>
    </div>
    </div>



