@model aspnet2.Models.User;

<p>
    @Model.Name
    <br>
    @Model.Email
    <br>
    @foreach (var Idea in Model.Ideas) {
        @(await Html.PartialAsync("IdeaCard", new IdeaViewModel {
            Idea = Idea, UserUpvoted = false
        }));
    }
</p>
