@model aspnet2.Models.User;


@Model.Name
<br>
@Model.Email
<br>
<!-- centralizar -->
<div class="col-4 feed text-center w-50 m-auto">
    <h1 class="my-5">Minhas Ideais:</h1>
    <a style="color: var(--bs-warning);" href="/New">
        <!-- simbolo de mais -->
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
        </svg>
        <h3>Criar Nova</h3>
    </a>
    <!-- lista que mostra todas as ideias que o usuário tem -->
    <div id="feed">
        @foreach (var Idea in Model.Ideas) {
            @(await Html.PartialAsync("IdeaCard", new IdeaViewModel {
                Idea = Idea, UserUpvoted = false
            }));
        }
    </div>
</div>
